body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(234, 234, 236);
}

header {
  width: 100%;
  height: 80px;
  background: rgb(197, 197, 245);
}

header > nav {
  height: 100%;
  display: flex;
  align-items: center;
}
header > nav > ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

header > nav > ul > li {
  padding: 0 1em;
}

header > nav > ul > li > a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

header > nav > ul > li > a:hover,
header > nav > ul > li > a:active {
  color: white;
}

main {
  width: 80%;
  margin: 0 auto;
}

/* Memory */
.memories { 
  width: 100%;
  
}
.memory {
  width: 33%;
  padding: 1em;
  min-width: 300px;
  background: white;
  border: 1px dotted black;
}

.memory > * {
  text-align: center;
  width: 100%;
}

/* Form */
form {
  width: 300px;
  margin: auto;
  text-align: center;
  margin-top: 5em;
}
label {
	margin-top: 0.5em;
}
input,
label,
textarea {
  display: block;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0.25em 0;
}
button {
  padding: 0.25em 0;
  margin: 0.5em 0;
  width: 100%;
  color: rgb(160, 160, 240);
  background: white;
  border:1px solid rgb(160, 160, 240);
}

/* Footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgb(197, 197, 245);
  color: white;
  text-align: center;
}